DirectoryIndex index.php index.html

<FilesMatch "^(config\.php|.*\scopy\.html|index-TAKA-PC\.html|thanks\.html|news\.html|footer-logo-preview.*\.png|_footer_logo_preview\.png)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>

<FilesMatch "^_.*\.php$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
